
  <!-- <div *ngIf="check">
    <button md-raised-button (click)="submitcheck()" *ngFor="let button of place.slots" (click)="butvalue(button)">{{button}}</button>
    <br>
    <br>
    <h4>Already Reserved Slots For This Time</h4>
    <button class="md-res" md-raised-button *ngFor="let res of rese">{{ res }}</button>
    <br>
    <div *ngIf="done">
      <button md-raised-button color="primary" (click)="submit()">Done</button>
    </div>
  </div>
 -->

<!-- 
<div *ngIf="alert">
  <div class="alert alert-success">
    <strong>Success!</strong> Desired slot booked thank you!!!.
  </div>
</div>
<div *ngIf="noalert">
  <div class="alert alert-danger">
    <strong>Unsuccessfull!</strong>Not booked this slot might be a reserved one.
  </div>
</div> -->
